body{
    background-color: rgb(39, 29, 0);
    font-family: cursive;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: black;
}
.text{
    color: white;
    text-align: center;
    padding: 10pt;
    font-size: 16pt;
}
img{
    width: 100%;
}
.imgtext{
    position: relative;
}
.overText{
    position: absolute;
    color: white;
    width: 30%;
    max-height: 95%;
    font-size: 24px;
    font-weight: bold;
    left: 10%;
    top: 50%;
}
a{
    width: 45%;
    color: white;
    text-decoration: none;
}
a:hover{
    opacity: 50%;
}

.menuPicture{
    width: 95%;
    height: auto;
    padding-top: 10pt;
}

.menuPicture:hover{
    opacity: 50%;
}

.imgMenu{
    display: flex;
    justify-content: space-evenly;
}

.header{
    font-size: 16pt;
    text-align: center;
}

.links{
    display: flex;
    justify-content: space-around;
}

.contPhotoMenu{
    position: relative;
    text-align: center;
    color: white;
    font-size: 36pt;
}

.overTextMenu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inPageBody{
    background-color: white;
    font-size: 16pt;
    align-content: center;
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}
.menu{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    direction: column;
    flex-wrap: wrap;
}

.ourStory{
    display: flex;
    justify-content: space-arond;
    align-items: center;
    padding: 10pt;
}

.contactUs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10pt;
}

.homeh3{
    color: white;
}

#ourStoryText{
    text-align: center;
    width: 100%;
}

#teamText{
    text-align: center;
    width: 100%;
    padding-left: 10pt;
}

#shop{
    width: 75%;
    height: auto;
}


